.wrapper {
    display: grid;
    height: calc(100vh - 110px);
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0px 3vw;

}

.accordion {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(3, 20vh);
    align-items: center;
    margin-bottom: auto;
}

.item {
    background: #002245;
    padding: 10px 20px;
    width: 40vw;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}